<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>
</head>
<body>
    <h1>CHANGE PASSWORD !!!!!</h1>
    <form method="post" action="/changepassword">
        <input type="text" name="ch" value="<%=idc%>" hidden>
    OLD_PASSWORD:<input type="password" name="password1"><br><br>
    NEW_PASSWORD:<input type="password" name="password2"><br><br>
    CONFIRM_PASSWORD:<input type="password" name="password3"><br><br>
    <button type="submit">CHANGE_PASSWORD</button>
    </form>

</body>
</html>